h1{
    color:#067915; /*aplica color al texto */
    font-size: 40px; /*Aplica tamaño de fuente*/
}
h2{
    color:#d8cc24;
    font-size: 30px;
}
h3{
    color:#da5c5cd2;
    font-size: 20px;
}